/* src/palette.css */
/* src/index.css */
html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0
}
body {
    box-sizing: border-box;
    background: 
}
*,
*:before,
*:after {
    box-sizing: inherit
}
#mount {
    transform: scale(0.4)
}
.mc70832d4a_screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border: solid 4px red
}
.mc70832d4a_screen:nth-child(2n) {
    top: 130vh
}
.mc70832d4a_screenFocused {
    top: 0 !important;
    transform: scale(2.5) translateY(30%)
}
.mc70832d4a_shutter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1)
}
.mc70832d4a_shutterOpen {
    bottom: 90%;
    left: 90%
}